<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.DataMemberAddressMapper">
    
    <resultMap type="DataMemberAddress" id="DataMemberAddressResult">
        <result property="id"    column="id"    />
        <result property="mid"    column="mid"    />
        <result property="type"    column="type"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="area"    column="area"    />
        <result property="address"    column="address"    />
        <result property="deleted"    column="deleted"    />
        <result property="createAt"    column="create_at"    />
    </resultMap>

    <sql id="selectDataMemberAddressVo">
        select id, mid, type, code, name, phone, province, city, area, address, deleted, create_at from data_member_address
    </sql>

    <select id="selectDataMemberAddressList" parameterType="DataMemberAddress" resultMap="DataMemberAddressResult">
        <include refid="selectDataMemberAddressVo"/>
        <where>  
            <if test="mid != null "> and mid = #{mid}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="area != null  and area != ''"> and area = #{area}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
            <if test="createAt != null "> and create_at = #{createAt}</if>
        </where>
    </select>
    
    <select id="selectDataMemberAddressById" parameterType="Long" resultMap="DataMemberAddressResult">
        <include refid="selectDataMemberAddressVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDataMemberAddress" parameterType="DataMemberAddress" useGeneratedKeys="true" keyProperty="id">
        insert into data_member_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mid != null">mid,</if>
            <if test="type != null">type,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="area != null">area,</if>
            <if test="address != null">address,</if>
            <if test="deleted != null">deleted,</if>
            <if test="createAt != null">create_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mid != null">#{mid},</if>
            <if test="type != null">#{type},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="area != null">#{area},</if>
            <if test="address != null">#{address},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="createAt != null">#{createAt},</if>
         </trim>
    </insert>

    <update id="updateDataMemberAddress" parameterType="DataMemberAddress">
        update data_member_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="mid != null">mid = #{mid},</if>
            <if test="type != null">type = #{type},</if>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="area != null">area = #{area},</if>
            <if test="address != null">address = #{address},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="createAt != null">create_at = #{createAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDataMemberAddressById" parameterType="Long">
        delete from data_member_address where id = #{id}
    </delete>

    <delete id="deleteDataMemberAddressByIds" parameterType="String">
        delete from data_member_address where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>