<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.DataNewsXCollectMapper">
    
    <resultMap type="DataNewsXCollect" id="DataNewsXCollectResult">
        <result property="id"    column="id"    />
        <result property="cid"    column="cid"    />
        <result property="mid"    column="mid"    />
        <result property="type"    column="type"    />
        <result property="createAt"    column="create_at"    />
    </resultMap>

    <sql id="selectDataNewsXCollectVo">
        select id, cid, mid, type, create_at from data_news_x_collect
    </sql>

    <select id="selectDataNewsXCollectList" parameterType="DataNewsXCollect" resultMap="DataNewsXCollectResult">
        <include refid="selectDataNewsXCollectVo"/>
        <where>  
            <if test="cid != null "> and cid = #{cid}</if>
            <if test="mid != null "> and mid = #{mid}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="createAt != null "> and create_at = #{createAt}</if>
        </where>
    </select>
    
    <select id="selectDataNewsXCollectById" parameterType="Long" resultMap="DataNewsXCollectResult">
        <include refid="selectDataNewsXCollectVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDataNewsXCollect" parameterType="DataNewsXCollect" useGeneratedKeys="true" keyProperty="id">
        insert into data_news_x_collect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cid != null">cid,</if>
            <if test="mid != null">mid,</if>
            <if test="type != null">type,</if>
            <if test="createAt != null">create_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cid != null">#{cid},</if>
            <if test="mid != null">#{mid},</if>
            <if test="type != null">#{type},</if>
            <if test="createAt != null">#{createAt},</if>
         </trim>
    </insert>

    <update id="updateDataNewsXCollect" parameterType="DataNewsXCollect">
        update data_news_x_collect
        <trim prefix="SET" suffixOverrides=",">
            <if test="cid != null">cid = #{cid},</if>
            <if test="mid != null">mid = #{mid},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createAt != null">create_at = #{createAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDataNewsXCollectById" parameterType="Long">
        delete from data_news_x_collect where id = #{id}
    </delete>

    <delete id="deleteDataNewsXCollectByIds" parameterType="String">
        delete from data_news_x_collect where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>