<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.DataTruckProvinceMapper">
    
    <resultMap type="DataTruckProvince" id="DataTruckProvinceResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="sort"    column="sort"    />
        <result property="status"    column="status"    />
        <result property="createAt"    column="create_at"    />
    </resultMap>

    <sql id="selectDataTruckProvinceVo">
        select id, name, sort, status, create_at from data_truck_province
    </sql>

    <select id="selectDataTruckProvinceList" parameterType="DataTruckProvince" resultMap="DataTruckProvinceResult">
        <include refid="selectDataTruckProvinceVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="createAt != null "> and create_at = #{createAt}</if>
        </where>
    </select>
    
    <select id="selectDataTruckProvinceById" parameterType="Long" resultMap="DataTruckProvinceResult">
        <include refid="selectDataTruckProvinceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDataTruckProvince" parameterType="DataTruckProvince" useGeneratedKeys="true" keyProperty="id">
        insert into data_truck_province
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="createAt != null">create_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="createAt != null">#{createAt},</if>
         </trim>
    </insert>

    <update id="updateDataTruckProvince" parameterType="DataTruckProvince">
        update data_truck_province
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createAt != null">create_at = #{createAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDataTruckProvinceById" parameterType="Long">
        delete from data_truck_province where id = #{id}
    </delete>

    <delete id="deleteDataTruckProvinceByIds" parameterType="String">
        delete from data_truck_province where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>