<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.DataOrderMapper">
    
    <resultMap type="DataOrder" id="DataOrderResult">
        <result property="orderId"    column="order_id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="payPrice"    column="pay_price"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="payTime"    column="pay_time"    />
        <result property="expressPrice"    column="express_price"    />
        <result property="expressCompany"    column="express_company"    />
        <result property="expressNo"    column="express_no"    />
        <result property="deliveryStatus"    column="delivery_status"    />
        <result property="deliveryTime"    column="delivery_time"    />
        <result property="receiptStatus"    column="receipt_status"    />
        <result property="receiptTime"    column="receipt_time"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="transactionId"    column="transaction_id"    />
        <result property="userId"    column="user_id"    />
        <result property="wxappId"    column="wxapp_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDataOrderVo">
        select order_id, order_no, total_price, pay_price, pay_status, pay_time, express_price, express_company, express_no, delivery_status, delivery_time, receipt_status, receipt_time, order_status, transaction_id, user_id, wxapp_id, create_time, update_time from data_order
    </sql>

    <select id="selectDataOrderList" parameterType="DataOrder" resultMap="DataOrderResult">
        <include refid="selectDataOrderVo"/>
        <where>  
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="totalPrice != null "> and total_price = #{totalPrice}</if>
            <if test="payPrice != null "> and pay_price = #{payPrice}</if>
            <if test="payStatus != null "> and pay_status = #{payStatus}</if>
            <if test="payTime != null "> and pay_time = #{payTime}</if>
            <if test="expressPrice != null "> and express_price = #{expressPrice}</if>
            <if test="expressCompany != null  and expressCompany != ''"> and express_company = #{expressCompany}</if>
            <if test="expressNo != null  and expressNo != ''"> and express_no = #{expressNo}</if>
            <if test="deliveryStatus != null "> and delivery_status = #{deliveryStatus}</if>
            <if test="deliveryTime != null "> and delivery_time = #{deliveryTime}</if>
            <if test="receiptStatus != null "> and receipt_status = #{receiptStatus}</if>
            <if test="receiptTime != null "> and receipt_time = #{receiptTime}</if>
            <if test="orderStatus != null "> and order_status = #{orderStatus}</if>
            <if test="transactionId != null  and transactionId != ''"> and transaction_id = #{transactionId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="wxappId != null "> and wxapp_id = #{wxappId}</if>
        </where>
    </select>
    
    <select id="selectDataOrderById" parameterType="Long" resultMap="DataOrderResult">
        <include refid="selectDataOrderVo"/>
        where order_id = #{orderId}
    </select>
        
    <insert id="insertDataOrder" parameterType="DataOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into data_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="totalPrice != null">total_price,</if>
            <if test="payPrice != null">pay_price,</if>
            <if test="payStatus != null">pay_status,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="expressPrice != null">express_price,</if>
            <if test="expressCompany != null and expressCompany != ''">express_company,</if>
            <if test="expressNo != null and expressNo != ''">express_no,</if>
            <if test="deliveryStatus != null">delivery_status,</if>
            <if test="deliveryTime != null">delivery_time,</if>
            <if test="receiptStatus != null">receipt_status,</if>
            <if test="receiptTime != null">receipt_time,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="transactionId != null and transactionId != ''">transaction_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="wxappId != null">wxapp_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="totalPrice != null">#{totalPrice},</if>
            <if test="payPrice != null">#{payPrice},</if>
            <if test="payStatus != null">#{payStatus},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="expressPrice != null">#{expressPrice},</if>
            <if test="expressCompany != null and expressCompany != ''">#{expressCompany},</if>
            <if test="expressNo != null and expressNo != ''">#{expressNo},</if>
            <if test="deliveryStatus != null">#{deliveryStatus},</if>
            <if test="deliveryTime != null">#{deliveryTime},</if>
            <if test="receiptStatus != null">#{receiptStatus},</if>
            <if test="receiptTime != null">#{receiptTime},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="transactionId != null and transactionId != ''">#{transactionId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="wxappId != null">#{wxappId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDataOrder" parameterType="DataOrder">
        update data_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
            <if test="payPrice != null">pay_price = #{payPrice},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="expressPrice != null">express_price = #{expressPrice},</if>
            <if test="expressCompany != null and expressCompany != ''">express_company = #{expressCompany},</if>
            <if test="expressNo != null and expressNo != ''">express_no = #{expressNo},</if>
            <if test="deliveryStatus != null">delivery_status = #{deliveryStatus},</if>
            <if test="deliveryTime != null">delivery_time = #{deliveryTime},</if>
            <if test="receiptStatus != null">receipt_status = #{receiptStatus},</if>
            <if test="receiptTime != null">receipt_time = #{receiptTime},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="transactionId != null and transactionId != ''">transaction_id = #{transactionId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="wxappId != null">wxapp_id = #{wxappId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteDataOrderById" parameterType="Long">
        delete from data_order where order_id = #{orderId}
    </delete>

    <delete id="deleteDataOrderByIds" parameterType="String">
        delete from data_order where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
    
</mapper>