<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.DataStoreUserMapper">
    
    <resultMap type="DataStoreUser" id="DataStoreUserResult">
        <result property="storeUserId"    column="store_user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="password"    column="password"    />
        <result property="wxappId"    column="wxapp_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDataStoreUserVo">
        select store_user_id, user_name, password, wxapp_id, create_time, update_time from data_store_user
    </sql>

    <select id="selectDataStoreUserList" parameterType="DataStoreUser" resultMap="DataStoreUserResult">
        <include refid="selectDataStoreUserVo"/>
        <where>  
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="wxappId != null "> and wxapp_id = #{wxappId}</if>
        </where>
    </select>
    
    <select id="selectDataStoreUserById" parameterType="Long" resultMap="DataStoreUserResult">
        <include refid="selectDataStoreUserVo"/>
        where store_user_id = #{storeUserId}
    </select>
        
    <insert id="insertDataStoreUser" parameterType="DataStoreUser" useGeneratedKeys="true" keyProperty="storeUserId">
        insert into data_store_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="wxappId != null">wxapp_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="wxappId != null">#{wxappId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDataStoreUser" parameterType="DataStoreUser">
        update data_store_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="wxappId != null">wxapp_id = #{wxappId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where store_user_id = #{storeUserId}
    </update>

    <delete id="deleteDataStoreUserById" parameterType="Long">
        delete from data_store_user where store_user_id = #{storeUserId}
    </delete>

    <delete id="deleteDataStoreUserByIds" parameterType="String">
        delete from data_store_user where store_user_id in 
        <foreach item="storeUserId" collection="array" open="(" separator="," close=")">
            #{storeUserId}
        </foreach>
    </delete>
    
</mapper>