<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.DataMemberMessageMapper">
    
    <resultMap type="DataMemberMessage" id="DataMemberMessageResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="msgid"    column="msgid"    />
        <result property="phone"    column="phone"    />
        <result property="region"    column="region"    />
        <result property="result"    column="result"    />
        <result property="content"    column="content"    />
        <result property="status"    column="status"    />
        <result property="createAt"    column="create_at"    />
    </resultMap>

    <sql id="selectDataMemberMessageVo">
        select id, type, msgid, phone, region, result, content, status, create_at from data_member_message
    </sql>

    <select id="selectDataMemberMessageList" parameterType="DataMemberMessage" resultMap="DataMemberMessageResult">
        <include refid="selectDataMemberMessageVo"/>
        <where>  
            <if test="type != null "> and type = #{type}</if>
            <if test="msgid != null  and msgid != ''"> and msgid = #{msgid}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="region != null  and region != ''"> and region = #{region}</if>
            <if test="result != null  and result != ''"> and result = #{result}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="createAt != null "> and create_at = #{createAt}</if>
        </where>
    </select>
    
    <select id="selectDataMemberMessageById" parameterType="Long" resultMap="DataMemberMessageResult">
        <include refid="selectDataMemberMessageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDataMemberMessage" parameterType="DataMemberMessage" useGeneratedKeys="true" keyProperty="id">
        insert into data_member_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
            <if test="msgid != null">msgid,</if>
            <if test="phone != null">phone,</if>
            <if test="region != null">region,</if>
            <if test="result != null">result,</if>
            <if test="content != null">content,</if>
            <if test="status != null">status,</if>
            <if test="createAt != null">create_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
            <if test="msgid != null">#{msgid},</if>
            <if test="phone != null">#{phone},</if>
            <if test="region != null">#{region},</if>
            <if test="result != null">#{result},</if>
            <if test="content != null">#{content},</if>
            <if test="status != null">#{status},</if>
            <if test="createAt != null">#{createAt},</if>
         </trim>
    </insert>

    <update id="updateDataMemberMessage" parameterType="DataMemberMessage">
        update data_member_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="msgid != null">msgid = #{msgid},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="region != null">region = #{region},</if>
            <if test="result != null">result = #{result},</if>
            <if test="content != null">content = #{content},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createAt != null">create_at = #{createAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDataMemberMessageById" parameterType="Long">
        delete from data_member_message where id = #{id}
    </delete>

    <delete id="deleteDataMemberMessageByIds" parameterType="String">
        delete from data_member_message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>