<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.DataSpecMapper">
    
    <resultMap type="DataSpec" id="DataSpecResult">
        <result property="specId"    column="spec_id"    />
        <result property="specName"    column="spec_name"    />
        <result property="wxappId"    column="wxapp_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectDataSpecVo">
        select spec_id, spec_name, wxapp_id, create_time from data_spec
    </sql>

    <select id="selectDataSpecList" parameterType="DataSpec" resultMap="DataSpecResult">
        <include refid="selectDataSpecVo"/>
        <where>  
            <if test="specName != null  and specName != ''"> and spec_name like concat('%', #{specName}, '%')</if>
            <if test="wxappId != null "> and wxapp_id = #{wxappId}</if>
        </where>
    </select>
    
    <select id="selectDataSpecById" parameterType="Long" resultMap="DataSpecResult">
        <include refid="selectDataSpecVo"/>
        where spec_id = #{specId}
    </select>
        
    <insert id="insertDataSpec" parameterType="DataSpec" useGeneratedKeys="true" keyProperty="specId">
        insert into data_spec
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="specName != null and specName != ''">spec_name,</if>
            <if test="wxappId != null">wxapp_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="specName != null and specName != ''">#{specName},</if>
            <if test="wxappId != null">#{wxappId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateDataSpec" parameterType="DataSpec">
        update data_spec
        <trim prefix="SET" suffixOverrides=",">
            <if test="specName != null and specName != ''">spec_name = #{specName},</if>
            <if test="wxappId != null">wxapp_id = #{wxappId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where spec_id = #{specId}
    </update>

    <delete id="deleteDataSpecById" parameterType="Long">
        delete from data_spec where spec_id = #{specId}
    </delete>

    <delete id="deleteDataSpecByIds" parameterType="String">
        delete from data_spec where spec_id in 
        <foreach item="specId" collection="array" open="(" separator="," close=")">
            #{specId}
        </foreach>
    </delete>
    
</mapper>