<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.DataGoodsSpecRelMapper">
    
    <resultMap type="DataGoodsSpecRel" id="DataGoodsSpecRelResult">
        <result property="id"    column="id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="specId"    column="spec_id"    />
        <result property="specValueId"    column="spec_value_id"    />
        <result property="wxappId"    column="wxapp_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectDataGoodsSpecRelVo">
        select id, goods_id, spec_id, spec_value_id, wxapp_id, create_time from data_goods_spec_rel
    </sql>

    <select id="selectDataGoodsSpecRelList" parameterType="DataGoodsSpecRel" resultMap="DataGoodsSpecRelResult">
        <include refid="selectDataGoodsSpecRelVo"/>
        <where>  
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="specId != null "> and spec_id = #{specId}</if>
            <if test="specValueId != null "> and spec_value_id = #{specValueId}</if>
            <if test="wxappId != null "> and wxapp_id = #{wxappId}</if>
        </where>
    </select>
    
    <select id="selectDataGoodsSpecRelById" parameterType="Long" resultMap="DataGoodsSpecRelResult">
        <include refid="selectDataGoodsSpecRelVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDataGoodsSpecRel" parameterType="DataGoodsSpecRel" useGeneratedKeys="true" keyProperty="id">
        insert into data_goods_spec_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">goods_id,</if>
            <if test="specId != null">spec_id,</if>
            <if test="specValueId != null">spec_value_id,</if>
            <if test="wxappId != null">wxapp_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">#{goodsId},</if>
            <if test="specId != null">#{specId},</if>
            <if test="specValueId != null">#{specValueId},</if>
            <if test="wxappId != null">#{wxappId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateDataGoodsSpecRel" parameterType="DataGoodsSpecRel">
        update data_goods_spec_rel
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="specId != null">spec_id = #{specId},</if>
            <if test="specValueId != null">spec_value_id = #{specValueId},</if>
            <if test="wxappId != null">wxapp_id = #{wxappId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDataGoodsSpecRelById" parameterType="Long">
        delete from data_goods_spec_rel where id = #{id}
    </delete>

    <delete id="deleteDataGoodsSpecRelByIds" parameterType="String">
        delete from data_goods_spec_rel where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>