<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.DataOrderAddressMapper">
    
    <resultMap type="DataOrderAddress" id="DataOrderAddressResult">
        <result property="orderAddressId"    column="order_address_id"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="provinceId"    column="province_id"    />
        <result property="cityId"    column="city_id"    />
        <result property="regionId"    column="region_id"    />
        <result property="detail"    column="detail"    />
        <result property="orderId"    column="order_id"    />
        <result property="userId"    column="user_id"    />
        <result property="wxappId"    column="wxapp_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectDataOrderAddressVo">
        select order_address_id, name, phone, province_id, city_id, region_id, detail, order_id, user_id, wxapp_id, create_time from data_order_address
    </sql>

    <select id="selectDataOrderAddressList" parameterType="DataOrderAddress" resultMap="DataOrderAddressResult">
        <include refid="selectDataOrderAddressVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="provinceId != null "> and province_id = #{provinceId}</if>
            <if test="cityId != null "> and city_id = #{cityId}</if>
            <if test="regionId != null "> and region_id = #{regionId}</if>
            <if test="detail != null  and detail != ''"> and detail = #{detail}</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="wxappId != null "> and wxapp_id = #{wxappId}</if>
        </where>
    </select>
    
    <select id="selectDataOrderAddressById" parameterType="Long" resultMap="DataOrderAddressResult">
        <include refid="selectDataOrderAddressVo"/>
        where order_address_id = #{orderAddressId}
    </select>
        
    <insert id="insertDataOrderAddress" parameterType="DataOrderAddress" useGeneratedKeys="true" keyProperty="orderAddressId">
        insert into data_order_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="provinceId != null">province_id,</if>
            <if test="cityId != null">city_id,</if>
            <if test="regionId != null">region_id,</if>
            <if test="detail != null and detail != ''">detail,</if>
            <if test="orderId != null">order_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="wxappId != null">wxapp_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="provinceId != null">#{provinceId},</if>
            <if test="cityId != null">#{cityId},</if>
            <if test="regionId != null">#{regionId},</if>
            <if test="detail != null and detail != ''">#{detail},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="wxappId != null">#{wxappId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateDataOrderAddress" parameterType="DataOrderAddress">
        update data_order_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="provinceId != null">province_id = #{provinceId},</if>
            <if test="cityId != null">city_id = #{cityId},</if>
            <if test="regionId != null">region_id = #{regionId},</if>
            <if test="detail != null and detail != ''">detail = #{detail},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="wxappId != null">wxapp_id = #{wxappId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where order_address_id = #{orderAddressId}
    </update>

    <delete id="deleteDataOrderAddressById" parameterType="Long">
        delete from data_order_address where order_address_id = #{orderAddressId}
    </delete>

    <delete id="deleteDataOrderAddressByIds" parameterType="String">
        delete from data_order_address where order_address_id in 
        <foreach item="orderAddressId" collection="array" open="(" separator="," close=")">
            #{orderAddressId}
        </foreach>
    </delete>
    
</mapper>